<div class="post-page">
 <div class="jumbotron">
  <div class="container">
    <h1 class="display-3"><%= @post.name %></h1>
    <p><%= markdown @post.body %>.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-sm-offset-2">
      <div class="comments">
        <h3>Comentarios</h3>
        <% @post.comments.each do |comment| %>
        <div class="card">
          <div class="card-header">
            <%= comment.user.name %>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p><%= comment.body %></p>
              <footer class="blockquote-footer"><%= comment.created_at.strftime("%Y-%m-%d(%T)") %></footer>
            </blockquote>
          </div>
        </div>
        <% end %>  
        <% if signed_in? %>
        <h3>Comentar</h3>
        <%= form_for [@post, @post.comments.build] do |f| %>
        <div class="form-group py-3">
          <%= f.text_area :body, class: "form-control", placeholder: "Agregar respuesta" %>
        </div>

        <div class="actions text-right">
          <%= f.submit "Comentar", class: "btn btn-primary" %>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>